{% extends 'base.jinja2' %}

{% block title %}Stats{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center mt-4">
        {% if not urlFetched %}
            <h2 class="text-center">Get stats on a shortened url</h2>

            <form method="post">
                <label for="urlToFetch">Shortened ID: </label>
                <input type="text" value="" placeholder="hFa71" name="urlToFetch" id="urlToFetch" required /><br>
                <button type="submit" class="btn btn-success mt-4">Submit</button>
            </form>
        {% endif %}
        {% if urlFetched %}
            <a class="btn btn-primary float-start" href="/stats">Back</a>
            <h2 class="text-center mt-4">Stats for <a href="https://{{fetched_url}}">{{fetched_url}}</a></h2>
            <table class="table ">
                <thead class="table-dark">
                    <tr>
                        <td>URL ID</td>
                        <td>Created</td>
                        <td>Times Visited</td>
                        <td>Last Visited</td>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    <tr>
                        <td>{{stats.url_id}}</td>
                        <td>{{stats.date_created}}</td>
                        <td>{{stats.times_visited}}</td>
                        <td>{{stats.last_visited}}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        {% for mesg in get_flashed_messages() %}
            <p style="color: red;">{{ mesg }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}